<div class="container-fluid">
  <div class="row">
    <div class="card bg-transparent border-none d-flex justify-content-center">
      <div class="card-title border border-dark rounded bgmutedred border-4 p-2">
        <div class="bg-white text-dark text-center">
          <h2>${this.name}</h2>
        </div>
      </div>
      <div class="card-image">
        <img src="${this.img}" alt="${this.nickname}" class="w-100 pokeimg">
      </div>
      <div class="card-body border border-dark border-5 bgmutedred rounded">
        <div class="card-subtitle">
          <div>
            <span class="card-text text-start">Height: ${this.height}</span>
            <span class="card-text text-end">Weight: ${this.weight}</span>
          </div>
          <div class="d-flex justify-content-between">
            <p class="card-text text-start">Type: ${this.types}</p>
            <button onclick="app.SandboxController.saveOwnedPokemon()"
              class="btn btn-light rounded text-dark text-end">Catchem</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>