<div class="container-fluid">
  <div class="row">
    <div class="card d-flex justify-content-center">
      <div class="card-title border border-warning border-4">
        ${this.name}
      </div>
      <div class="card-image">
        <img src="${this.imgUrl}" alt="${this.nickname}">
      </div>
      <div class="card-body">
        <div class="card-subtitle">
          <h3>${this.nickname}</h3>
        </div>
        <p class="card-text">Height: ${this.height}</p>
        <p class="card-text">Weight: ${this.weight}</p>
        <p class="card-text">Type: ${this.types}</p>
      </div>
    </div>

  </div>
</div>

</div>


<div>
  <a role="button" onclick="app.PokedexController.setActivePoke(${this.name})">
    <h4>${this.name}</h4>
  </a>
</div>